/* Fondo con opacidad */

.left {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.left::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Contenedor del login */
.login-box {
  width: 320px;
  padding: 40px 25px 25px;
  background: rgba(4, 63, 119, 0.9);
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: slideUp 0.5s ease-in-out;
}

/* Título */
.login-box h1 {
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

/* Estilo de los campos de texto */
.login-box label {
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
  border-color: #4CAF50;
  outline: none;
}

ion-icon {
  --background: white;
  --color: white;
    fill: white !important;
}

/* Estilo para el botón de submit */
.login-box ion-button {
  --background: #4CAF50;
  --color: white;
  --border: none;
  --border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  --padding: 10px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    --background: #218838;
  }
}

/* Enlaces */
.login-box a {
  color: #FFD700;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  animation: fadeIn 1s ease-in-out;
}

.login-box a:hover {
  color: #fff;
}

/* Imagen de avatar */
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid white;
  object-fit: cover;
  animation: zoomIn 1s ease-in-out;
}

/* Estilo para los mensajes de éxito y error */
.mensaje-exito,
.mensaje-error,
.mensaje-no-verificada,
.mensaje-codigo-error {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 280px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.verification-code {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(4, 63, 119, 1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  color: #fff;
  z-index: 9999;
  animation: slideUp 0.5s ease-in-out;
}

/* Estilo para el input */
.verification-code input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

.verification-code ion-button {
  --background: #28a745;
  --color: white;
  --border: none;
  --padding: 10px 20px;
  font-size: 16px;
  --border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;

  &:hover {
    --background: #218838;
  }
}

.verification-code button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.verification-code.show {
  display: block;
}

.mensaje-exito {
  background-color: #4CAF50;
}

.mensaje-error {
  background-color: #f44336;
}

.mensaje-no-verificada {
  background-color: #ff8c00;
}

.mensaje-codigo-error {
  background-color: #680801;
}

.mensaje-exito .img,
.mensaje-error .img,
.mensaje-no-verificada .img,
.mensaje-codigo-error .img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  vertical-align: middle;
}

.mensaje-exito .txt,
.mensaje-error .txt,
.mensaje-no-verificada .txt,
.mensaje-codigo-error .txt {
  display: inline-block;
  vertical-align: middle;
}

ion-item {
  --background: transparent;
  --color: white;
  border-bottom: 1px solid white;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(50px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
      transform: scale(0.5);
  }
  100% {
      transform: scale(1);
  }
}
